NEXT_PUBLIC_SITE_URL=https://tawazonhealth.store
NEXT_PUBLIC_API_BASE_URL=https://api.tawazonhealth.store

NEXT_PUBLIC_WHATSAPP_NUMBER=212771436235
NEXT_PUBLIC_SUPPORT_EMAIL=contact@tawazonhealth.store

NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_GOOGLE_TAG_ID=
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_ID=
NEXT_PUBLIC_GOOGLE_ADS_PURCHASE_LABEL=

NEXT_PUBLIC_ENABLE_META_PIXEL=true
NEXT_PUBLIC_ENABLE_TIKTOK_PIXEL=true
NEXT_PUBLIC_ENABLE_GOOGLE_TAG=true
